%tr
  %td= key

  - ip = Rack::Attack.ip_from_key(key)
  %td
    = ip
    (#{link_to 'Look up', "http://ip-lookup.net/?ip=#{ip}", target:'_blank'})

  - if is_redis?
    %td
      - interval = Rack::Attack.cache.store.ttl("#{Rack::Attack.cache.prefix}:#{key}")
      - if interval
        =# distance_of_time_in_words(interval)
        in #{ActiveSupport::Duration.build(interval)&.human_to_s}

  %td= link_to 'Delete', admin_rack_attack_banned_ip_path(key), method: :delete, class: 'btn'
